html
    head 
     title='Off-brand Myspace'
     link(rel="stylesheet", href="style.css")
    body 
     h1='Users'
     a(href='/') Home
     a(href='/users') Users
     a(href='/posts') Posts
     a(href='/comments') Comments
     p='Welcome to MySpace, a social networking site.'